element.style {
}
* {
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.head {
    display: none;
    background-color:grey;
}
.title_1 {
    background-color: grey;
    color:white;
    vertical-align: bottom;
}
.title_2 {
    background-color: grey;
    color:white;
    text-align: right;
    position: relative;
    padding: 0;
    margin: 0;
}
.body {
    background-color: grey;
    color:white;
    text-align: left;
    position: relative;
    padding: 0;
    margin: 0;
}
.header_1 {
    background-color: grey;
    color:white;
    text-align: right;
    position: relative;
    padding: 0;
    margin: 0;
}
.header_2 {
    background-color: grey;
    color:white;
}
.footer {
    text-align: left;
    position: relative;
    padding: 0;
    margin: 0;
}
.footer_1 {
    background-color: grey;
    color:white;
    text-align: left;
    position: relative;
    padding: 0;
    margin: 0;
}
.footer_2 {
    background-color: grey;
    color:white;
    text-align: left;
    position: relative;
    padding: 0;
    margin: 0;
}
.footer_3 {
    background-color: grey;
    color:white;
    text-align: left;
    position: relative;
    padding: 0;
    margin: 0;
}
.footer_4 {
    background-color: grey;
    color:white;
    background-color: grey;
    color:white;
    text-align: left;
    position: relative;
    padding: 0;
    margin: 0;
    
}
.footer_5 {
    background-color: grey;
    color:white;
    background-color: grey;
    color:white;
    text-align: left;
    position: relative;
    padding: 0;
    margin: 0;
}
.footer_6 {
    background-color: grey;
    color:white;
    background-color: grey;
    color:white;
    text-align: left;
    position: relative;
    padding: 0;
    margin: 0;
}