element.style {
}
* {
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.head {
    display: none;
    background-color:grey;
}
.title_1 {
    background-color: grey;
    color:white;
    vertical-align: bottom;
}
.title_2 {
    background-color: grey;
    color:white;
    float:right;
}
.body {
    background-color: grey;
    color:white;
}
.header_1 {
    background-color: grey;
    color:white;
}
.header_2 {
    background-color: grey;
    color:white;
}
.footer {
    background-color: grey;
    color:white;
}